.searchInputs {
    margin-top: 105px;
    display: flex;
    border: 1px solid #000;

    input {
        background-color: white;
        border: 0;
        border-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        font-size: 18px;
        padding: 15px;
        height: 30px;
        width: 300px;

        &:focus {
            outline: none;
        }
    }

    .searchIcon {
        height: 60px;
        width: 50px;
        background-color: white;
        display: grid;
        place-items: center;

        svg {
            font-size: 35px;
        }
    }
}

.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;

    &:empty {
        border: none;
      }

    .dropdown-row {
        cursor: pointer;
        text-align: start;
        margin: 2px 0;
        padding: 15px;
        border-bottom: 1px solid #000;

        a {
            text-decoration: none;
            color: #000;
        }
    }
  }
    
.searchBack {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    .dataItem {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        color: black;
    }

    p {
        margin-left: 10px;
    }
  }

  .country-detail-wrap {
    border: 1px solid #000;
    width: 600px;
    margin-top: 60px;

    .country-detail {
        margin-top: 20px;
    }

    .country-flag {
        height: 400px;
    }
}